.root {
    -fx-background-color: rgb(0, 60, 60);
}

#titleLabel {
    -fx-font-size: 18;
    -fx-font-family: "Minecraft";
    -fx-text-fill: BLACK;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -bold: true;

}

#exceptionLabel {
    -fx-font-size: 20;
    -fx-font-family: "Minecraft";
    -fx-text-fill: "red";
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.text-field {
    -fx-background-color: #2A5058; 
    -fx-background-radius: 5;
    -fx-border-color: BLACK; 
    -fx-border-radius: 5;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
    -fx-text-fill: SNOW; 
    -fx-prompt-text-fill: SNOW; 
    -fx-font-family: "Minecraft";  
    -fx-padding: 10px 20px 10px 20px; 


}

.text-field:hover {
    -fx-background-color: #61a2b1; 
    -fx-border-color: SNOW;
    -fx-text-fill: SNOW;
}

.text-field:focused {
    -fx-border-color: SNOW; 
    -fx-border-width: 2px; 
}

.button {
    -fx-background-color: #2A5058; 
    -fx-background-radius: 5;
    -fx-border-color: #2A5058;
    -fx-border-radius: 2;
    -fx-border-width: 1px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white; 
    -fx-padding: 10px 20px 10px 20px; 
    -fx-cursor: hand; 
    -fx-font-family: "Minecraft";   

}

.button:hover {
    -fx-background-color: #61a2b1; 
    -fx-border-color: SNOW;
    -fx-text-fill: SNOW;
}

.button:pressed {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1); 
    -fx-translate-y: 1px; 
}