.root {
    -fx-background-color: WHITE;
}

#titleLabel {
    -fx-font-size: 18;
    -fx-font-family: "Segoe UI Black";
    -fx-text-fill: BLACK;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -bold: true;

}

<titleLabel>Please click the <span class="highlight">Submit</span>button. </titleLabel>#exceptionLabel {
    -fx-font-size: 20;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: "red";
    -fx-text-alignment: center;
    -fx-alignment: center;
}