/* Apply background color and font settings to the whole scene */
.root {
    -fx-background-color: WHITE;
    -fx-font-family: "C&C Red Alert [INET]";
    -fx-padding: 20;
}

/* Style for all labels */
.label {
    -fx-font-size: 24px;
    -fx-text-fill: #2c3e50;
    -fx-font-weight: bold;
}

#moneydisplaylabel {
    -fx-font-size: 22px;
    -fx-text-fill: BLACK;
    -fx-font-weight: bold;
}

#moneyLabel {

    -fx-font-size: 26px;
    -fx-text-fill: BLACK;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: TEAL;
    -fx-font-size: 22px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 2, 2);
}

.button:hover {
    -fx-background-color: rgb(10, 196, 196);
}